/* ===== Cubo 3D ===== */
.my-loader {
  width: 200px;
  height: 200px;
  perspective: 1000px;
  margin: 20px auto;
}
.rubiks-cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: my-rotateCube 15s infinite linear;
}
.my-loader .face {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.my-loader .face.front {
  transform: translateZ(100px);
}
.my-loader .face.back {
  transform: rotateY(180deg) translateZ(100px);
}
.my-loader .face.left {
  transform: rotateY(-90deg) translateZ(100px);
}
.my-loader .face.right {
  transform: rotateY(90deg) translateZ(100px);
}
.my-loader .face.top {
  transform: rotateX(90deg) translateZ(100px);
}
.my-loader .face.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}
.my-loader .cube {
  width: calc(100% / 3);
  height: calc(100% / 3);
  box-sizing: border-box;
  border: 1px solid #4f7fff;
  background: #1a1a1a;
}
@keyframes my-rotateCube {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

/* ===== Libro animado ===== */
.book {
  position: relative;
  border-radius: 10px;
  width: 180px;
  height: 250px;
  background-color: whitesmoke;
  box-shadow: 1px 1px 12px #000;
  perspective: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  transition-duration: 0.5s;
}
.cover,
.inner {
  top: 0;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  transform-origin: 0;
  box-shadow: 1px 1px 12px #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.book:hover .cover {
  transform: rotateY(-70deg);
}
.inner {
  transform-origin: 100%;
}
.book:hover .inner {
  transform: rotateZ(25deg) rotateX(-30deg) rotateY(-10deg) translateX(140px);
  box-shadow: 1px 1px 20px #000a;
}
.book:hover {
  transform: rotateZ(-10deg);
}
.text {
  font-size: 20px;
  font-weight: bold;
}
